/* ================
   Base Website CSS
   ==============*/

   :root {
    --background: rgba(19, 19, 19, 1.0);
    --nbg: rgba(19, 19, 19, 0.80);
    --nbg2: rgba(19, 19, 19, 0.90);
    --trans: rgba(19, 19, 19, .75);
  }
  
  *, *::before, ::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: 0;
      font-size: 100%;
  }
  
  html {
    box-sizing: border-box;
    overflow-x: hidden;
    color: #f2f2f2;
    text-shadow: 3px 3px black;
  }
  
  body {
    background: url('https://www.toontownfantasy.com/assets/images/image-pattern-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    font-size: 62.5%;
    font-weight: 400;
    box-sizing: border-box;
  }

  /* ==========
        Nav
     ========== */
      
      .nav {
        text-transform: uppercase;
        font-size: 1.2rem;
        background: var(--trans);
        margin: 0;
        padding: 0;
        z-index: 999;
      }

    .FlippyIcon {
        margin-left: 1rem;
        margin-bottom: -10px;
    }
      
    .nav-toggle-label {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
    }
    
    .nav-toggle-label span, 
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      display: block;
      background: white;
      border-radius: 2px;
      position: relative;
    }
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      content: '';
      position: absolute;
    }
    
    .nav-toggle-label span::before {
      bottom: 7px;
    }
    
    .nav-toggle-label span::after {
      top: 7px;
    }
      
    .navi-main-item {
      position: absolute;
      visibility: hidden;
      width: 100%;
      z-index: -1;
      background: var(--background);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    }
    
    .nav {
      border-bottom: 2px solid white;
      text-transform: uppercase;
      font-size: 1.2rem;
      background: var(--trans);
    }
    
    .nav::after {
      content: "";
      display: table;
      clear: both;
    }
      
      .nav-main-item {
        display: inline-block;
        width: 12rem;
        position: relative;
        z-index: 999;
      }
      
      li {
        list-style: none;
      }
      
      .nav-main a {
        text-align: center;
        padding: 1rem;
        color: #eee;
        text-decoration: none;
        display: block;
      }
      
      .nav-main-item a:hover {
        width: 100%;
        background-color: gray;
      }

      .play {
        background-color: red;
        float: right;
      }
      
      .nav-main-item:hover > * {
        visibility: visible;
        margin: 0;
        }

  /* ==========
        Body
     ========== */

     .links {
      color: white;
     }

     .links:hover {
      color: #aaffaa;
     }
  
     .header {
      text-align: center;
      font-size: 30px;
      place-items: center;
      z-index: 1;
      padding: 0;
      margin: 0;
    }

    .construction-img {
      width: 100%;
      object-fit: cover;
    }

    .fantasy-paragraph {
      padding: 15px 0;
      font-size: 30px;
    }